.result-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.result-container a {
    background-color: rgb(136, 110, 197);
    color: white;
    padding-top: 10px;
    margin: 10px 25px;
    min-width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: background 0.35s;
    text-decoration: none;
    text-align: center;

}

.result-container a:hover {
    background-color: rgb(102, 122, 116);
}